@model IQueryable<Part>
@foreach (var p in Model) {
                     <div>
                         <h3>@p.Name</h3>
                         <h4>
                             @p.Description
                         </h4>
                             <h4>
                                 @p.Quantity
                             </h4>
                             <h4> @p.PartNumber</h4>
                             <h3>@p.UnitCost.ToString("c")</h3>
                             <h2>@p.TotalCost.ToString("c")</h2>
</div>
}
